<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/estilos.css"/>
    <script src="https://kit.fontawesome.com/85815134f5.js" crossorigin="anonymous"></script>
    <title th:text="${titulo}"></title>
  </head>
  <body>
    <!--Formulario de registro en la aplicación -->
    <h1 th:text="${titulo}"></h1>
    <span th:text="${usuario.nombre}"></span>
    <span th:text="${usuario.apellidos}"></span><br>
    <span th:if="${usuario.email}" th:text="${usuario.email}"></span><br>
    <span th:if="${usuario.email == null}" th:text="'No tiene correo!'"></span><br>
    <span th:if="${usuario.email == null}">No tiene correo, otra forma de mostra texto plano.</span>
    
    
    <title>Registro de usuario</title>
  </head>
  <body>
    <!--Formulario de registro en la aplicación -->
    <h2>Registro</h2>
    <div class="formularioBody">
      <form method="POST" action="">
        <input class="controls" type="text" name="nombre1" value="" placeholder="Nombre"/>
        <br/>
        <input class="controls" type="text" name="apellidos1" value=""  placeholder="Apellidos"/>
        <br/>
        <input class="controls" type="text" name="telefono" value="" placeholder="Teléfono"/>
        <br/>
        <input class="controls" type="text" name="documento" value="" placeholder="Documento"/>
        <br/>
        <input class="controls" type="email" name="correo" value="" placeholder="Email"/>
        <br/>
        <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña"/>
        <br/>
        <input class="botons" name="registrar" type="submit" value="Registrarse"/>
        <br />
        <a href="../controlador/loginUsuario.php">Login</a>
      </form>
    </div>
    <script>
      /** Función que se ejecuta una vez cargada la página */
      window.onload=function() {
          repetir();
      }
    </script>
    <script src="../../js/main.js"></script>
    <script src="../../js/portada.js"></script>
    <script src="../../js/myJquery.js"></script>
    <script src="../../js/ohsnap.min.js"></script>
  </body>
</html>