<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recibir parámetros del Request HTTP GET - URL</title>
    <link rel="stylesheet" href="css/estilos.css" />
    <script src="https://kit.fontawesome.com/85815134f5.js" crossorigin="anonymous"></script>
  </head>
<body>
<h1>Recibir parámetros del Request HTTP GET - URL</h1>
<div th:text="${resultado}"></div>

</body>
</html>